USE [Lab7]
GO
/****** Object:  Table [dbo].[group]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group](
	[id_group] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_group] PRIMARY KEY CLUSTERED 
(
	[id_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lesson]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lesson](
	[id_lesson] [int] IDENTITY(1,1) NOT NULL,
	[id_teacher] [int] NOT NULL,
	[id_subject] [int] NOT NULL,
	[id_group] [int] NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_lesson] PRIMARY KEY CLUSTERED 
(
	[id_lesson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mark]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mark](
	[id_mark] [int] IDENTITY(1,1) NOT NULL,
	[id_lesson] [int] NOT NULL,
	[id_student] [int] NOT NULL,
	[mark] [smallint] NOT NULL,
 CONSTRAINT [PK_mark] PRIMARY KEY CLUSTERED 
(
	[id_mark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id_student] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[id_group] [int] NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[id_student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[id_subject] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[id_subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id_teacher] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[id_teacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[group] ON 

INSERT [dbo].[group] ([id_group], [name]) VALUES (1, N'ПС')
INSERT [dbo].[group] ([id_group], [name]) VALUES (2, N'ИВТ')
INSERT [dbo].[group] ([id_group], [name]) VALUES (3, N'ВМ')
SET IDENTITY_INSERT [dbo].[group] OFF
SET IDENTITY_INSERT [dbo].[lesson] ON 

INSERT [dbo].[lesson] ([id_lesson], [id_teacher], [id_subject], [id_group], [date]) VALUES (1, 2, 10, 1, CAST(N'2019-05-01' AS Date))
INSERT [dbo].[lesson] ([id_lesson], [id_teacher], [id_subject], [id_group], [date]) VALUES (2, 2, 10, 1, CAST(N'2019-04-15' AS Date))
INSERT [dbo].[lesson] ([id_lesson], [id_teacher], [id_subject], [id_group], [date]) VALUES (3, 2, 10, 1, CAST(N'2019-05-20' AS Date))
GO
SET IDENTITY_INSERT [dbo].[lesson] OFF
SET IDENTITY_INSERT [dbo].[mark] ON 

INSERT [dbo].[mark] ([id_mark], [id_lesson], [id_student], [mark]) VALUES (1, 12, 18, 3)
INSERT [dbo].[mark] ([id_mark], [id_lesson], [id_student], [mark]) VALUES (3, 31, 52, 5)
INSERT [dbo].[mark] ([id_mark], [id_lesson], [id_student], [mark]) VALUES (17, 60, 68, 2)
GO
SET IDENTITY_INSERT [dbo].[mark] OFF
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([id_student], [name], [phone], [id_group]) VALUES (1, N'Блантер Лавр Леонович', N'7(9704)858-24-00', 2)
INSERT [dbo].[student] ([id_student], [name], [phone], [id_group]) VALUES (2, N'Шемякин Пимен Валерьянович', N'7(9219)560-71-11', 2)
INSERT [dbo].[student] ([id_student], [name], [phone], [id_group]) VALUES (3, N'Русинов Данил Мечиславович', N'7(706)767-81-36', 4)
SET IDENTITY_INSERT [dbo].[student] OFF
SET IDENTITY_INSERT [dbo].[subject] ON 

INSERT [dbo].[subject] ([id_subject], [name]) VALUES (1, N'БД')
INSERT [dbo].[subject] ([id_subject], [name]) VALUES (2, N'Информатика')
INSERT [dbo].[subject] ([id_subject], [name]) VALUES (3, N'Физика')
SET IDENTITY_INSERT [dbo].[subject] OFF
SET IDENTITY_INSERT [dbo].[teacher] ON 

INSERT [dbo].[teacher] ([id_teacher], [name], [phone]) VALUES (1, N'Ловзанский Феоктист Фомевич', N'7(7800)227-72-32')
INSERT [dbo].[teacher] ([id_teacher], [name], [phone]) VALUES (2, N'Яшуков Капитон Архипович', N'7(676)046-56-35')
INSERT [dbo].[teacher] ([id_teacher], [name], [phone]) VALUES (3, N'Кривоухов Эрнст Адрианович', N'7(13)135-92-59')
SET IDENTITY_INSERT [dbo].[teacher] OFF
